#WaveCanvas{
    transition: .3s;
}
#WaveCurrentTimeDiv{
    position: absolute;
    top: 0%;
    left: 0%;
    /* filter: blur(10px); */
    background-color: rgba(0, 0, 0, 1);
    /* backdrop-filter: opacity(90%); */
    /* backdrop-filter: blur(20px); */
    /* backdrop-filter: contrast(150%) brightness(0.5); */
    backdrop-filter: invert(0.1) brightness(0.05);
    /* backdrop-filter: drop-shadow(16px 16px 20px blue); */
    /* z-index: 100; */
    mix-blend-mode: difference;
    opacity: 0.6;
    /* transition: .3s; */
}
.WaveMouseTime{
    position: absolute;
    border-right-style: solid;
    border-left-style: solid;
    border-color: seagreen;
    /* border-color: black; */
    border-width: 1px;
    opacity: 0%;
    /* pointer-events: none; */
}
.WaveMouseTimeOver{
    opacity: 50%;
    /* transition: 0.3s; */
    transition-timing-function: ease-out;
}